node_modules
dist
data
docker-compose.override.yml
.env
.vscode/schema/generated
*.apk
node-project-v*.backup.zip
android/.gradle/
android/build/
android/local.properties
android/app/.cxx/
android/app/build/
android/app/libnode/
android/app/libs/*.aar
android/app/nodejs-project/
android/app/src/main/assets/node-project.zip
